 /* * {
  background-color: rgba(255, 0, 0, 0.2);
}
* * {
  background-color: rgba(0, 255, 0, 0.2);
}
* * * {
  background-color: rgba(0, 0, 255, 0.2);
}
* * * * {
  background-color: rgba(255, 0, 255, 0.2);
}
* * * * * {
  background-color: rgba(0, 255, 255, 0.2);
}
* * * * * * {
  background-color: rgba(255, 255, 0, 0.2);
}
* * * * * * * {
  background-color: rgba(255, 0, 0, 0.2);
}
* * * * * * * * {
  background-color: rgba(0, 255, 0, 0.2);
}
* * * * * * * * * {
  background-color: rgba(0, 0, 255, 0.2);
}  */


/* https://dev.to/gajus/my-favorite-css-hack-32g3 */
html,
body {
  /* width: 100%; */
  height: 100%;
  margin: 0;
  /* padding: 0; */
  background-color: #f5f5f5;
  overflow-x: hidden;
  font-family: 'Fira Sans', sans-serif;
  padding: 0 10px;
  color: #212121;
}


h1 {
  

font-size: 55px;

  padding-top: 20px; 
  padding-bottom: 20px; 
}
h2 {
  font-size: 33px;
  padding-top: 15px;
  text-align: left;
}
h3{
  padding: 0;
  padding-top: 8px;
  margin-bottom:5px;
  font-size: 20px;
}
#my-pic {
  border-radius: 50%;
  width: 40%;
}

p {
  font-family: 'PT Serif', serif;
  font-size: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding:0;
}
a{
  color:#004D40;
  transition-property: background, color;
  
  transition-duration:300ms;
  transition-timing-function: ease-in;

}
a:hover{
  background: #004D40;
  color: #EEEEEE;
}
